*vc.db

*/.vs/
*/Content/StarterContent/Textures/
*/Intermediate/Build/
*/Intermediate/AssetRegistryCache/
*/Binaries/
*/Intermediate/CachedAssetRegistry.bin
*/Intermediate/ProjectFiles/
*/Intermediate/ReimportCache/
*/Saved/
*/Content/StarterContent/HDRI/
